@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
@font-face {
  font-family: m;
  src: url("m.otf");
}
@font-face {
  font-family: mm;
  src: url("mm.otf");
}
body{
  background-clip: url("./bg.mp4") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
h1{
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  color: rgba(255, 255, 255, 0.5);
  font-family: mm;
  font-weight: 400;
  font-size: 2em;
}
a{
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}


#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}
